<div class="header bg-dark">
    <div class="logo">
        <h5>Tuğra Yerli</h5>
    </div>
    <ul class="nav justify-content-end">
        <li class="btn btn-outline-light">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="btn btn-outline-light">
            <a class="nav-link" href="#">Car List</a>
        </li>
        <li class="btn btn-outline-light">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="btn btn-outline-light">
            <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
</div>

<div class="navbar fixed-bottom bg-dark">
    <p>Copyright &copy; - Tuğra Yerli - All Rights Reserved</p>
</div>